<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add  name="NWConnection" 
			  connectionString="Data Source=DESKTOP-5R5EQO8\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;"
			  providerName="System.Data.SqlClient"
			  />
	</connectionStrings>
	<!-- Nombre de la cadena de conexión. Se utiliza para identificar esta conexión en el código. -->
	<!-- Cadena de conexión que define cómo y dónde conectarse a la base de datos.
             - Data Source=DESKTOP-5R5EQO8\SQLEXPRESS: Especifica el nombre del servidor y la instancia de SQL Server a la que conectarse. En este caso, se está conectando a una instancia local de SQL Server Express.
             - Initial Catalog=Northwind: Define el nombre de la base de datos a la que se desea conectar, en este caso, "Northwind".
             - Integrated Security=True: Indica que la autenticación de Windows se utiliza para conectar a la base de datos. Esto significa que se usará la cuenta de usuario del sistema operativo que ejecuta la aplicación para autenticar la conexión. -->
	<!-- Nombre del proveedor de datos que se utiliza para la conexión. En este caso, se está utilizando el proveedor de datos de SQL Server. -->
</configuration>